* {
  font-family: 'Courier New', Courier, monospace;
 }

 .g-link {
   color: green;
 }

 .g-link:hover {
   cursor: pointer;
   text-decoration: underline;
 }

 .w-link {
  color: rgb(255, 255, 255);
}

.w-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

#upper {
  background: url("../assets/img/padlock.jpg")no-repeat center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.dark-overlay{
  background: rgba(0, 0, 0, 0.3);
}

#submit_text {
  font-size: 1.5rem;
}

#scoreboard-container {
  background-color: rgba(52,60,65,1);
  min-height: 100vh;
}

.title {
text-align: center;
}

#flag-form-container {
  height: 304px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
}

#flag-form {
  text-align: center;
  
}
.mat-form-field {
  display: block;
  padding-bottom: 13px;
  width: 300px;
  font-size: 1.2rem;
}

#flag-submit {
  display: inline-block;
  background-color: rgba(50, 50, 50, 0.8);
  border-color: black;
  border-width: 2px;
  font-weight: 700;
  font-size: 1.2rem;
  color: rgb(118, 164, 101);
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px
}

#flag-submit:hover {
  background-color: black;
}

#scoreboard-container-title {
  color: rgba(255, 255, 255, 0.8);
}

mat-cell{
  display:flex;
  justify-content:center;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(52,60,65,1);
}

mat-header-row {
  border-bottom-color:  rgba(81, 93, 101, 0.8)
}

mat-row {
  border-bottom-color: rgba(81, 93, 101, 0.8)
}

mat-header-cell {
  display:flex;
  justify-content:center;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(52,60,65,1.5);;
}

#no_submissions_message {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
}