@import '~@angular/material/theming';
@include mat-core();

$g-theme-primary: mat-palette($mat-green, 700, 300, 900);
$g-theme-accent: mat-palette($mat-amber, 700, 300, 900);
$g-theme-warn: mat-palette($mat-red, 700, 300, 900);

$g-theme: mat-dark-theme(
    $g-theme-primary,
    $g-theme-accent,
    $g-theme-warn
);

@include angular-material-theme($g-theme);